<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.studentplanner">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SecondActivity"
            android:label="@string/secondActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".Monday"
            android:label="@string/title_activity_monday"
            android:parentActivityName=".SecondActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SecondActivity" />
        </activity>
        <activity android:name=".CourseList" />

        <receiver
            android:name=".AlarmReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.example.android.studentplanner.ACTION_NOTIFY" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".Tuesday"
            android:label="@string/title_activity_tuesday"
            android:parentActivityName=".SecondActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SecondActivity" />
        </activity>

        <activity
            android:name=".Wednesday"
            android:label="@string/title_activity_wednesday"
            android:parentActivityName=".SecondActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SecondActivity" />
        </activity>
        <activity
            android:name=".Thursday"
            android:label="@string/title_activity_thursday"
            android:parentActivityName=".SecondActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SecondActivity" />
        </activity>
        <activity
            android:name=".Friday"
            android:label="@string/title_activity_friday"
            android:parentActivityName=".SecondActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SecondActivity" />
        </activity>

        <service
            android:name=".AlarmSoundService"
            android:exported="false" />

    </application>

</manifest>